<h1>
  <%= @style.name %>
</h1>

<h2>Description:</h2>

<p>
  <%= @style.description %>
</p>

<p>Beers in style: <%= @beers.count %></p>

<ul>
 <% @beers.each do |beer| %>
   <li><%= link_to beer.name, beer %> by <%= link_to beer.brewery.name, beer.brewery %></li>
 <% end %>
</ul>

<%= edit_and_destroy_buttons(@style) %>

</br>
<%= link_to 'Back', styles_path %>
